@import "src/variables";

.playback-controller {
  width: 100%;

  .top,
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top {
    margin-bottom: 10px;

    button {
      background-color: transparent;
      border: none;
      color: $white;
      cursor: pointer;
      transition: color 0.2s, border-color 0.2s;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      svg {
        font-size: 35px;
      }
    }
  }

  .bottom {
    .progress-bar-container {
      flex: 1 1 auto;
      margin: 0 10px;
      height: 6px;
      background-color: $light-grey;
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      .progress-bar {
        height: 100%;
        border-radius: 5px;
        background-color: $white;
      }
    }
  }
}
