.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-family: 'Source Sans Pro', sans-serif;

  button {
    &:focus {
      outline: none !important;
    }
  }
}